body {
  background: #f5f5f2;
  font-family: 'Helvetica Neue', sans-serif;
  align-content: center;
  font-family: 'Roboto';
}

input {
  font-size: 16px;
  width: 410px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

div {
  background: white;
  width: 435px;
  padding: 25px;
  /*text-align: left;*/
  /*position: fixed;*/
  /*top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  /*border-radius: 10px;*/
  margin-left: auto;
  margin-right: auto;
}

table {
  background: white;
  /*border-radius: 10px;*/
  /*margin-top: 10px;*/
  /*padding: 0px;*/
  /*padding: 25px;*/
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 125px;
  height: 125px;
}

#hd {
  padding-bottom: 15px;
}

td {
  vertical-align: top;
}

span {
  font-size: 15px;
}

.fit {
  background: #f5f5f2;
}
