body {
  background: #f5f5f2;
  font-family: 'Helvetica Neue', sans-serif;
  align-content: center;
  font-family: 'Roboto';
}

input {
  font-size: 16px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button#search {
  display: block;
  color: white;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.warning {
  color: red;
}

div {
  background: white;
  max-width: 435px;
  padding: 25px;
  /*text-align: left;*/
  /*position: fixed;*/
  /*top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  /*border-radius: 10px;*/
  margin-left: auto;
  margin-right: auto;
}

table {
  background: white;
  /*border-radius: 10px;*/
  /*margin-top: 10px;*/
  /*padding: 0px;*/
  /*padding: 25px;*/
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0 5px;
}

img {
  width:100%;
  height:auto;
  /*width: 127px;
  height: 137px;*/
}

#hd {
  padding-bottom: 15px;
}

td {
  vertical-align: top;
}

span {
  font-size: 15px;
}

.fit {
  /*background: #d4d4c7;*/
  background: #eeeee8;
  border: 0.05px solid;
  outline: thin solid;
  outline-color: #cbcbbc;

}

tr {
  margin: 50px;
}
